* {
  margin: 0;
  padding: 0;
  transition: 0.25s;
}

body {
  background-image: url(/images/game\ background\ .jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-winner {
  margin: 4rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-box #winner {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgba(170, 75, 75, 0.7);
  font-size: 2rem;
  border: 1px solid white;
  padding: 1rem 3rem;
  width: 170px;
  height: 60px;
  border-radius: 10px 10px;
}

.points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 4rem;
}

.dealer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  gap: 4.25rem;
}

.cards-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

.totalCards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14.5rem;
}

.totalDealerCards label,
.totalPlayerCards label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  width: 10px;
  border-radius: 10px 10px;
  position: absolute;
  top: 50;
  left: 50;
  transform: translate(-50%, 220%);
}

.totalPlayerCards p,
.totalDealerCards p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-player-tokens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerTokens {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 40px;
  height: 25px;
  margin-bottom: 1rem;
}

.dealer button {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 130px;
  height: 50px;
}

.cards-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  height: 80px;
  border: 1px solid white;
  width: 160px;
  border-radius: 10px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

button:hover:enabled {
  color: white;
  background-color: rgb(245, 98, 110);
  cursor: pointer;
}

.container-tokens {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.tokens button {
  border-radius: 20px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
}

.tokens button:hover:enabled {
  color: black;
  background-color: rgb(240, 205, 50);
  cursor: pointer;
}

.owned-tokens-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-total-tokens {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgba(93, 8, 191, 0.344);
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.25rem 2rem;
  border-radius: 10px 10px;
  gap: 0.2rem;
}
